@import "../../node_modules/vue-good-table/src/styles/style.scss";

thead {
  display: none;
}

.vgt-inner-wrap {
  box-shadow: inherit;
}

table.vgt-table {
  border-left-width: 0;
  border-right-width: 0;
  td {
    vertical-align: middle;
  }
}
